<a href="https://colab.research.google.com/github/SarthakManeDev/Projects/blob/main/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install spark

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("example").getOrCreate()
help(pyspark)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark1 = SparkSession.builder.appName("example").getOrCreate()

In [ ]:
#pricelist = df1.select("total_bedrooms").where(df1["total_bedrooms"]>500)
#pricelist.show()
#query1 = spark1.sql("SELECT total_bedrooms from df1 where total_bedrooms>500")
dbutils.widgets.text("folder", "data")

In [ ]:
df1 = spark1.read.csv('/content/sample_data/california_housing_test.csv',header=True)
df1.show()

In [ ]:
spark.stop()
spark1.stop()